
nav a {
    margin-right: 20px;
    
} 

#NavId a.active {
    background-color: green;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    
  }